name: ontology

services:

  # ✅ neo4j
  neo4j_ontology:
    image: neo4j:5.26.4-community
    container_name: neo4j_ontology
    restart: unless-stopped
    ports:
      - "${NEO4J_HTTP_PORT}:7474"
      - "${NEO4J_BOLT_PORT}:7687"
    environment:   
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_AUTH=${NEO4J_AUTH}
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_conf:/var/lib/neo4j/conf
      - neo4j_data:/data
      - neo4j_plugins:/plugins
      - neo4j_logs:/logs
    networks:
      - ontology_net


  # ✅ qdrant
  qdrant_ontology: 
    image: qdrant/qdrant
    container_name: qdrant_ontology
    restart: unless-stopped
    ports:
      - "${QDRANT_PORT}:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
    networks:
      - ontology_net


  # ✅ minio
  minio_ontology:
    image: minio/minio
    container_name: minio_ontology
    restart: unless-stopped
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9090"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_config:/root/.minio
      - minio_data1:/data1
      - minio_data2:/data2
      - minio_data3:/data3
      - minio_data4:/data4
    command: server /data{1...4} --console-address ":9090"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - ontology_net



  # ✅ redis
  redis_ontology:
      image: redis
      container_name: redis_ontology
      restart: unless-stopped
      ports:
        - "${REDIS_PORT}:6379"
      volumes:
        - redis_data:/data
      command: ["redis-server", "--save", "60", "1", "--loglevel", "warning", "--requirepass", "${REDIS_PASSWORD}"]
      environment:
        - REDIS_PASSWORD=${REDIS_PASSWORD}
      networks:
        - ontology_net


  # ✅ redis insight
  redis_insight_ontology:
      image: redislabs/redisinsight:latest
      container_name: redis_insight_ontology
      restart: unless-stopped
      ports:
        - "${REDIS_INSIGHT_PORT}:5540"
      volumes:
        - redis_insight_data:/data
      networks:
        - ontology_net






networks:
  ontology_net:


volumes:
  neo4j_conf:
  neo4j_data:
  neo4j_plugins:
  neo4j_logs:
  qdrant_storage:
  minio_config:
  minio_data1:
  minio_data2:
  minio_data3:
  minio_data4:
  redis_data:
  redis_insight_data:

